<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">

</head>
<body>

<br>
<div class="container">
    <h3>Information City</h3>

    <div>
        <form th:action="@{/edit}" method="post" th:object="${city}">
        <table>
            <tr><td><input type="hidden" th:field="*{id}"></td></tr>
            <tr>
                <td>Name</td>
                <td ><input type="text" th:field="*{name}"><span th:if="${#fields.hasErrors('name')}" th:text="#{NotEmpty.city.name}"></span></td>
            </tr>
            <tr>
                <td>Country</td>
                <td><select name="country">
                    <option th:each="p : ${country}" th:text="${p.name}" th:value="${p.id}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Area</td>
                <td><input type="text" th:field="*{area}"><span th:if="${#fields.hasErrors('area')}" th:text="#{NumberFormat.city.area}"></span></td>
            </tr>
            <tr>
                <td>GDP</td>
                <td><input type="text" th:field="*{GDP}"><span th:if="${#fields.hasErrors('GDP')}" th:text="#{NumberFormat.city.GDP}"></span></td>
            </tr>
            <tr>
                <td>Population</td>
                <td ><input type="text" th:field="*{population}"><span th:if="${#fields.hasErrors('population')}" th:text="#{NumberFormat.city.population}"></span></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}"><span th:if="${#fields.hasErrors('description')}" th:text="#{NotEmpty.city.description}"></span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"></td>
                <td><a th:href="@{/}">Cancel</a></td>

            </tr>
        </table>
        </form>
    </div>
</div>

<hr>
<footer th:replace="layout:: footer"></footer>
</body>
</html>